.wy-side-nav-search {
   background-color: #751217;
}

body span.caption-text {
	color: #CD2626;
}

body span.red {
	color: #ac2b31;
	font-weight: 700;
}


body span.und {
	color: #4074c8;
	text-decoration: underline;
	text-decoration-color: #4074c8;
}

body span.sample {
	font-family: monospace;
	font-size: 12px;
	font-weight: 700;
}